<h3>Listado de heroes</h3>

<!-- Aqui tenemos una condición con un el que hace referencia al ng-templete de más abajo -->
<div *ngIf="deleteHero; else nothingWasDeleted">
  <h3>Héroe borrado <small class="text-danger">{{ deleteHero }}</small></h3>
</div>

<!-- EL ng-templete es un div que no existe -->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado ningún heroe</h3>
</ng-template>


<button
  *ngIf="heroNames.length > 0"
    (click)="removeLastHero()"
    class="btn btn-outline-danger">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <!-- Esta es la forma de hacer un for -->
  <li *ngFor="let name of heroNames" class="list-group-item">{{ name}}</li>
</ul>
